<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <script>
    window.onload = function(){
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['<%= date6 %>', '<%= date5 %>', '<%= date4 %>', '<%= date3 %>', '<%= date2 %>', '<%= date1 %>', '<%= date0 %>'],
          datasets: [
            {
              label: 'bad health condition(%)',
              data: [
              <%= data6 %>,
              <%= data5 %>,
              <%= data4 %>,
              <%= data3 %>,
              <%= data2 %>,
              <%= data1 %>,
              <%= data0 %>,
              ],
              borderColor: "rgba(0,0,255,1)",
              backgroundColor: "rgba(0,0,0,0)"
            }
          ],
        },
        options: {
          title: {
            display: false,
            text: 'bad health condition rate'
          },
          scales: {
            yAxes: [{
              ticks: {
                suggestedMax: 100,
                suggestedMin: 0,
                stepSize: 10,
                callback: function(value, index, values){
                  return  value +  '%'
                }
              }
            }]
          },
        }
      });
    };
    </script>

  </head>
  <body style = "padding:0px 40px; text-align:center; ">

    <h1><%= title %> <div style="font-size:33%;">げんきですか？</div></h1>
    <canvas id="myChart"></canvas>
    <h2><a href="./"> Please tell your condition. <div style="font-size:33%;">あなたの体調を教えて下さい。</div></a></h2>
    <br>
    <p><small>© 2020 Harumaso. <a href="https://github.com/Harumaso500/Howareyou">view Source</a></small></p>
  </body>
</html>
